body {
    background-image: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?q=80&w=2608&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: repeat;
    background-size: cover;
}

.container{
 height:100vh;
 width:100vw;
 display:flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.heading{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font-size:xx-large;
}

.btn{
    background-color:rgb(0,162,120);
    padding: 10px;
    border-radius: 5px;
    border: none;   
}

a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:wheat;
}