<div class="nav">
    <div class="topnav">
        <div>
            <span class="title">Automatic Exam Paper Correction</span>
        </div>
        <div>
            <a class="active" href="/admin/homePage">Home</a>
            <a class="active" href="/logout">Logout</a>
        </div>
    </div>
</div><br>

<style>

body {
    margin: 0;
}

.topnav {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    overflow: hidden;
    background-color: #333333;
}

/* Style the links inside the navigation bar */
.topnav a.active {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a.active:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.title {
	margin-left: 10px;
    font-size: 32px;
    color: white;
}
    
</style>