{% include "admin_navbar.html" ignore missing %}
<html>

    <head>
        <title>Teacher Registration</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body
        style="background-image: url('/static/stud_reg.png'); background-repeat: no-repeat ;background-size: cover;">
        <center>
            <div class="text-slate-50"
                style="font-size: 50px; margin-top: 60px;">Teacher
                Register</div>
        </center>
        <center>
            <div
                style="font-size: 20px; padding: 30px; width: fit-content; margin-top: 10px;"
                class="italic text-slate-50 bg-green-900 rounded-lg">
                <form action="{{ url_for('admin.add_teacher') }}" method="post">
                    ID: <input required type="text" name="teacher_id"
                        class="bg-transparent"
                        style="border-bottom: 2px solid white;"><br><br>
                    Name: <input required type="text" name="teacher_name"
                        class="bg-transparent"
                        style="border-bottom: 2px solid white;"><br><br>
                    Password: <input required type="password" name="teacher_pwd"
                        class="bg-transparent"
                        style="border-bottom: 2px solid white;"><br><br>
                    Re-enter Password: <input required type="password"
                        class="bg-transparent"
                        style="border-bottom: 2px solid white;"><br><br>
                    <input type="submit"
                        style="border-bottom: 2px solid white;">
                </form>
            </div>
        </center>
    </body>

</html>