<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href = "../static/css/main.css">
    </head>
    <body style = "background-image: url('../static/books.jpg'); background-repeat: no-repeat ;background-size: cover;">
        <div style="width: 600px; margin-left: 100px; margin-top: 30px;">
            <center><p style = "font-size: 50px;font-family:Georgia, 'Times New Roman', Times, serif" class="">Automatic Exam Paper Correction</p></center>
        </div>
        <div style="margin-top: 40px;margin-left: 100px; width: 600px; height: 400px;" class="bg-green-900">
            <button style="margin-left: 200px; margin-top: 50px; font-size: 30px;" class="text-slate-50 italic"><a href="{{ url_for('teacher_login') }}">Teacher Login</a></button><br>
            <button style="margin-left: 200px; margin-top: 50px; font-size: 30px;" class="text-slate-50 italic"><a href="{{ url_for('student_login') }}">Student Login</a></button><br>
            <button style="margin-left: 170px; margin-top: 50px; font-size: 30px;" class="text-slate-50 italic"><a href="{{ url_for('student_register') }}">Student Registration</a></button>
        </div>
        
    </body>
</html>