{% include "student_navbar.html" ignore missing %}

<html>

    <head>
        <title>View Scores</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body
        style="background-image: url('/static/test-score.jpg'); background-repeat: repeat; background-attachment: fixed; background-size: cover;">
        <center>
            <div style="font-size: 50px; margin-top: 10px;" class="italic">Your
                Scores</div>
            <div
                style="width: 600px; margin-top: 40px; margin-bottom: 40px; padding: 40px;"
                class="bg-green-900 text-slate-50 italic rounded-lg">
                {% for i in range(data|length) %}
                <h4><a href="/student/viewScores/{{ data[i]['questionPaperID'] }}">
                    {{ data[i]['questionPaperName'] }}: {{ data[i]['score'] }} / {{ data[i]['maximumMarks'] }}
                </a></h4>
                {% endfor %}
            </div>

        </center>

    </body>

</html>