<html>
    <head>
        <title>Student Login</title>
    </head>
    <body>
        <form action="{{ url_for('student_login') }}" method="post">
            Student ID: <input type="text" placeholder="enter your ID" name="student_id"><br>
            Password: <input type="password" placeholder="enter password" name="student_pwd"><br>
            <input type="submit">
        </form>
        <button><a href="{{ url_for('student_register') }}">Not Registered Yet?</a></button>
    </body>
</html>