{% include "teacher_navbar.html" ignore missing %}

<html>

    <head>
        <title>Add Test</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body
        style="background-image: url('/static/teacherhmpage.jpg'); background-repeat: repeat; background-attachment: fixed; background-size: cover;">

        <div style="font-size: 50px; margin: 25px;"
            class="text-slate-50">Add New Test</div>
        <div style="font-size: 20px; margin: 25px;"
            class="text-slate-50">
            <form action="{{ url_for('teacher.add_test') }}" method="post">
                Question Paper ID: <br><input type="text" name="paper_id"
                    class="text-black"><br><br>
                Question Paper Name: <br><input type="text" name="paper_name"
                    class="text-black" style="width: 1000px;"><br><br>
                Time Allotted for taking test (hh:mm:ss): <input type="time"
                    value="00:00:00" name="time_allotted" min="1" step="1"
                    class="text-black"><br><br>

                <fieldset id="questions">
                    <div style="font-size: 30px; margin-bottom: 10px;"
                        class="text-slate-50">Questions</div>
                    <button type="button" id="mcq_toggle">Enable MCQ
                        Questions</button><br><br>
                    <div id="mcq_div" style="display: none;">
                        <label for="mcq_marks">Marks For Each Question: </label>
                        <input type="number" min="1" max="100" name="mcq_marks"
                            id="mcq_marks" value=1 class="text-black"><br>
                        <input type="hidden" name="mcq_count" id="mcq_count"
                            value=0>

                        <button type="button" id="mcq_add">Add MCQ</button>
                        <button type="button" id="mcq_remove">Remove Previous
                            MCQ</button><br>
                    </div>
                    <button type="button" id="fitb_toggle">Enable
                        Fill-in-the-Blanks</button><br><br>
                    <div id="fitb_div" style="display: none;">
                        <label for="fitb_marks">Marks For Each Question:
                        </label>
                        <input type="number" min="1" max="100" name="fitb_marks"
                            id="fitb_marks" value=1 class="text-black"><br>
                        <input type="hidden" name="fitb_count" id="fitb_count"
                            value=0>

                        <button type="button" id="fitb_add">Add FITB
                            Question</button>
                        <button type="button" id="fitb_remove">Remove Previous
                            FITB Question</button><br>
                    </div>
                    <button type="button" id="equation_toggle">Enable Equation
                        Matching Question</button><br><br>
                    <div id="equation_div" style="display: none;">
                        <label for="eq_marks">Marks For Each Question: </label>
                        <input type="number" min="1" max="100" name="eq_marks"
                            id="eq_marks" value=1 class="text-black"><br>
                        <input type="hidden" name="equation_count"
                            id="equation_count" value=0>

                        <button type="button" id="equation_add">Add Equation
                            Question</button>
                        <button type="button" id="equation_remove">Remove
                            Previous Equation Question</button><br>
                    </div>
                    <button type="button" id="brief_toggle">Enable Brief Answer
                        Questions</button><br><br>
                    <div id="brief_div" style="display: none;">
                        <label for="brief_marks">Marks For Each Question:
                        </label>
                        <input type="number" min="1" max="100"
                            name="brief_marks" id="brief_marks" value=1
                            class="text-black"><br>
                        <input type="hidden" name="brief_count" id="brief_count"
                            value=0>

                        <button type="button" id="brief_add">Add Brief Answer
                            Question</button>
                        <button type="button" id="brief_remove">Remove Previous
                            Brief Answer Question</button><br>
                    </div>
                </fieldset>
                <input type="submit">
            </form>
        </div>

    </body>
    <script src="/static/script.js"></script>

</html>
