<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./teacher_login.css">
        <title>Teacher Login</title>
    </head>
    <body>
        <div class="container3">
        <form class="formcontainer" action="{{ url_for('teacher_login') }}" method="post">
         <div> <input class="input" type="text" name="teacher_id" placeholder="Enter your ID"></div>
         <div><input class="input" type="password" name="teacher_pwd" placeholder="Enter password"></div>
            <input class="btn" type="submit">
        </div>
        </form>
    </body>
</html>