{% include "teacher_navbar.html" ignore missing %}

<html>
    <head>
        <title>
            View Student Paper and Feedback
        </title>
    </head>
    <body>

        <h2>Paper Name: {{ data['paperName'] }}</h2>
        <h3>Student Name: {{ data['studentName'] }}</h3>
        <textarea>
            {{ data['feedback'] }}
        </textarea>

        <h4>Total Marks Obtained: {{ data['total'] }}/{{ data['maximumMarks'] }}</h4>
        <div>

            {% for section in data['questions'] %}

            <div>

                {{ section }}<br><br>
                {% for i in range(data['questions'][section]|length) %}

                <div>

                    {% if section == 'MCQs' %}
                    {{ i + 1 }}. {{ data['questions'][section][i]['question'] }}<br>
        
                    {% for option in range(data['questions'][section][i]['options']|length) %}
                    {{ i + 1 }}.{{ option + 1 }}. {{ data['questions'][section][i]['options'][option] }}<br>
                    {% endfor %}
        
                    {% else %}
                    {{ i + 1 }}. {{ data['questions'][section][i] }}<br>
        
                    {% endif %}
        
                    Student Answer: {{ data['studentAnswers'][section][i] }}<br>
                    Expected Answer: {{ data['referenceAnswers'][section][i] }}<br>
                    Marks Received: {{ data['marksDistribution'][section][i] }}<br><br>
            
                </div><br>
    
                {% endfor %}

            </div><br>


            {% endfor %}

        </div>
    </body>
</html>