<html>
    <head>
        <title>Add Test</title>
    </head>
    <body>
        <form action="{{ url_for('teacher.add_test') }}" method="POST">

            Question Paper ID: <input type="text" name="paper_id"><br>
            Question Paper Name: <input type="text" name="paper_name"><br>

            <fieldset id="questions">

                Question1: MCQ<br>

                1.1. <input type="text" name="mcq1"><br>
                a. <input type="text" name="op11">
                b. <input type="text" name="op12">
                c. <input type="text" name="op13">
                d. <input type="text" name="op14">
                <br><br>

                1.2. <input type="text" name="mcq2"><br>
                a. <input type="text" name="op21">
                b. <input type="text" name="op22">
                c. <input type="text" name="op23">
                d. <input type="text" name="op24">
                <br><br>

                1.3. <input type="text" name="mcq3"><br>
                a. <input type="text" name="op31">
                b. <input type="text" name="op32">
                c. <input type="text" name="op33">
                d. <input type="text" name="op34">
                <br><br>

                Question 2: Fill In The Blanks<br>
                2.1. <input type="text" name="fb1"><br>            
                2.2. <input type="text" name="fb2"><br>            
                2.3. <input type="text" name="fb3"><br>            
                2.4. <input type="text" name="fb4"><br>            
                2.5. <input type="text" name="fb5"><br>            
                <br>

                Question 3: Paragraph<br>
                3.1. <input type="text" name="p1"><br>
                3.2. <input type="text" name="p2"><br>
                
            </fieldset>

            <fieldset id="answers">

                Question 1: MCQ answers<br>
                1.1. <input type="number" name="q1ans1"><br>
                1.2. <input type="number" name="q1ans2"><br>
                1.3. <input type="number" name="q1ans3"><br>
                <br>

                Question 2: Fill In The Blanks<br>
                2.1. <input type="text" name="q2ans1"><br>
                2.2. <input type="text" name="q2ans2"><br>
                2.3. <input type="text" name="q2ans3"><br>
                2.4. <input type="text" name="q2ans4"><br>
                2.5. <input type="text" name="q2ans5"><br>
                <br>

                Question 3: Paragraph<br>
                3.1. <input type="text" name="q3ans1"><br>
                3.2. <input type="text" name="q3ans2"><br>
                <br>

            </fieldset>

            <input type="submit">

        </form> 
    </body>
</html>