.container2{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
   .heading2{
       font-family:'Times New Roman', Times, serif;
       color:whitesmoke;
       font-size:xx-large;
   }
   
   .btn2{
       background-color:rgb(4, 50, 88);
       padding: 10px;
       border-radius: 5px;
       border: none;   
   }
   
   a{
       text-decoration: none;
       font-family:Arial, Helvetica, sans-serif;
       font-weight: bolder;
       color:rgb(46, 223, 46);
   }